.git
.github
.idea
.vscode
.venv
venv
__pycache__
*.py[cod]
*.db
*.sqlite
*.sqlite3
.env
.env.*
!.env.docker.example

frontend
models
data
reports
src
*.npy

.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
